.search-background-color {
  background-color: #262522;
}

.search-max {
  max-width: 100%;
  max-height: 100%;
}

.search-btn-color {
  background-color: #A6A39F;
}

.search-placeholder-color {
  color: #ffffff
}

.search-img-movies {
  height: 250px;
}

.search-empty-text {
  color: rgba(222, 222, 222, .2);
}